.page {
  z-index:-1;
  margin-top: 63px;
}

.homepage {
  display: inline-block;
  width: 56%;
  margin-left: 20%;
  height: 100vh;
  padding: 24px 0px 24px 0px;

  .main-bar {
    .questions-grid {
      display: flex;
      padding-left: 16px;
      padding-right: 16px;

      .questions-headline {
        margin-bottom: 24px;
        flex: 1 auto;
        font-size: 28px;
        font-weight: 400;
      }
      .questions-btn {
        margin-left: 12px;

        button {
          padding: 8px;
          margin: 0px;
        }
      }
    }

    .questions-tabs {
      margin-bottom: 12px;
      display: flex;
      padding-left: 16px;
      padding-right: 16px;

      span {
        font-size: 17px;
        margin-right: 12px;
      }
    }

    .questions {
      float: none;
      clear: both;
      width: auto;
      margin-bottom: 20px;
      border-top: 1px solid #4a4e51;
    }
  }
}

@media(max-width: 1100px)  {
  .homepage {
    width: 80%;
  }
}
