.page {
  width: 100%;
  background: none;
  display: flex;
  justify-content: space-between;
  margin: 64px auto 0 auto;
}

#content {
  max-width: 100%;
  width: 83%;
  padding: 0;
  margin-right: 60px;
}

#mainbar {
  padding-top: 14px;
}

.homepage {
  width: calc(100% - 300px - 24px);
  padding: 24px 0 24px 0;
  float: left;
  margin: 0;

  .questions-grid {
    display: flex;
    padding-left: 24px;

    .questions-headline {
      margin-bottom: 24px;
      flex: 1 auto;
      font-size: 28px;
      font-weight: 400;
    }
    .questions-btn {
      margin-left: 12px;
    }
  }

  .questions-tabs {
    margin-bottom: 12px;
    display: flex;
    padding-left: 24px;
    padding-right: 16px;

    span {
      font-size: 17px;
      margin-right: 12px;
    }
  }

  .questions {
    float: none;
    clear: both;
    width: auto;
    margin-bottom: 20px;
    border-top: 1px solid #4a4e51;
  }
}

@media (max-width: 1100px) {
  #content {
    margin-left: 0;
  }

  .homepage {
    width: 82%;
    float: none;
    margin: 0;
  }
}
