body {
  background-color: #252525;
}

.auth-page {
  width: 100%;
  background-color: #3d3d3d;
  height: 100vh;
}

.register-content {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90.7vh;
}

.register-grid  {
  display: flex;
  align-items: center;
  box-sizing: inherit;

  .caption  {
    margin-right: 48px;
    margin-bottom: 0px;
    width: 400px;

    h3 {
      margin-bottom: 32px;
    }

    .caption-item {
      display: flex;
      margin-bottom: 24px;

      .grid-icon {
        margin-right: 8px;

        .svg-icon {
          color:#0095ff;
        }
      }
    }
    .fs-light {
      color:#6a737c;
      font-size: 13px;
      box-sizing: inherit;
    }
  }
}