.auth-page {
  width: 100%;
  background-color: #3d3d3d;
  padding-top: 65px;
}

.register-content {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-grid  {
  display: flex;
  align-items: center;
  box-sizing: inherit;
}

@media (max-width: 750px){
  .register-grid {
    flex-direction: column;

  }
}

@media (max-width: 750px){
  .caption {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}