.auth-page {
  width: 100%;
  background-color: #3d3d3d;
  height: 100vh;
}

.register-content {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90.7vh;
}

.register-grid  {
  display: flex;
  align-items: center;
  box-sizing: inherit;
}