{
  "extends": ["airbnb", "prettier", "plugin:node/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-multi-assign": "off",
    "no-return-await": "off",
    "no-undef": "off"
  }
}
