.grid {
  box-sizing: border-box;
  margin: -12px;
  display: flex;
  color: #242729;

  .img-card {
    box-sizing: border-box;
    margin: 12px;
    width: 210px;
    overflow: hidden;

    .avatar-card {
      box-shadow: inset 0 10em 0 #3d3d3d !important;
      text-align: center;
      padding: 12px !important;
      margin-bottom: 16px;
      border: 1px solid #4a4e51 !important;
      border-radius: 3px;
      background-color: #2d2d2d;

      .avatar {
        width: 164px;
        height: 164px;
        overflow: hidden !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        color: #242729;

        .avatar-link {


          .logo-wrapper {
            border-radius: 3px;
            width: 164px;
            height: 164px;

            img {
              width: 164px;
              height: 164px;
              border-radius: 3px;
            }
          }
        }
      }

      .title {
        font-weight: 400;
        margin-top: 12px !important;
        margin-bottom: 12px !important;

        .grid {
          color: #0c0d0e;
          font-size: 21px;
          display: flex;
          margin: -4px;
          justify-content: center !important;
          align-items: center !important;

          span {
            color: #6a737c;
            font-size: 11px;
          }
        }
      }
    }
  }

  .content-card {
    box-sizing: border-box;
    margin: 12px;
    flex: 1 auto !important;

    .content-grid {
      margin: -8px;
      display: flex;
      flex-direction: column;

      .info-cell {
        margin: 8px;
        //height: 278px;
        padding-right: 16px !important;
        flex: 1 auto;
        color: #242729;

        .info {
          display: flex;
          flex-direction: column !important;

          .details {
            margin-top: 4px;
            margin-bottom: 4px;

            h2 {
              word-break: break-all !important;
              color: #e7e8eb !important;
              font-size: 27px;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
            }
          }

          .date {
            margin-top: 16px;
            margin-bottom: 4px;
            color: #acb2b8 !important;
            font-size: 15px;
          }
        }
      }

      .stats-cell {
        margin: 8px;
        padding-right: 24px !important;

        .count-sec {
          color: #3c4146 !important;
          margin-bottom: 16px !important;

          .counts {
            margin: -6px;
            display: flex;

            .cells {
              margin: 6px;

              .column-grid {
                display: flex;
                flex-direction: column;

                .head {
                  font-weight: 700 !important;
                  font-size: 17px;
                  text-align: center;
                }
                .foot {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}