.side-bar {
  margin-left: 24px;
  width: 22%;

  .s-sidebarwidget__yellow {
    border-color: #675c37;
    background-color: #464236;
    color: #f2f2f3 !important;
    margin-top: 24px;
  }

  .s-sidebarwidget__yellow .s-sidebarwidget--header, .s-sidebarwidget__yellow .s-sidebarwidget--content {
    border-color: #675c37;
  }

  .s-sidebarwidget__yellow .s-sidebarwidget--header {
    background-color: #524b38;
    color: #cfd2d6;
  }

  .s-anchors .s-anchors.s-anchors__grayscale a:not(.s-link), .s-anchors.s-anchors__grayscale a:not(.s-link) {
    color: #f2f2f3;
  }

  .fc-danger {
    color: #c4524f;
  }

  .show-tags {
    display: block;
    margin: 5px 0;
    color: #0077cc;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
  }

  .side-bar-tags {
    word-wrap: break-word;
    margin-bottom: 20px;
    color: #242729;
    margin-top: 24px;

    .tag-headline {
      color: #3c4146;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 18px;
      margin-top: 0;
    }

    .tag-content {
      box-sizing: inherit;

      .tag-link {
        font-size: 12px;
        color: #39739d;
        background-color: #e1ecf4;
        border-color: transparent;
        display: inline-block;
        padding: .4em .5em;
        margin: 2px 2px 6px 2px;
        line-height: 1;
        white-space: nowrap;
        text-decoration: none;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;

        &:hover {
          color: #2c5777;
          background-color: #d1e5f1;
          border-color: transparent;
        }
      }

      .tag-mult {
        margin-right: 4px;
        color: #848d95;

        span {
          font-size: 11px;
          color: #6a737c;

        }
      }
    }
  }
}

@media(max-width: 1100px) {
  .side-bar {
    display: none;
  }
}