.tag-card {
  padding: 12px;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  background-color: #fff;

  .grid {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    justify-content: space-between;

    .grid-cell {
      display: block;

      a {
        font-size: 12px;
        color: #39739d;
        background-color: #e1ecf4;
        border-color: transparent;
        display: inline-block;
        padding: .4em .5em;
        margin: 2px 2px 2px 0;
        line-height: 1;
        white-space: nowrap;
        text-decoration: none;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;

        &:hover {
          color: #2c5777;
          background-color: #d1e5f1;
          border-color: transparent;
        }
      }
    }
  }

  .caption {
    font-size: 12px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #9fa6ad;
  }
}