.tag-card {
  padding: 12px;
  border: 1px solid #4a4e51;
  border-radius: 3px;
  background-color: #2d2d2d;

  .grid {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    justify-content: space-between;

    .grid-cell {
      display: block;
    }
  }

  .caption {
    font-size: 12px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #9fa6ad;
  }
}