.s-navigation {
  padding: 2px 2px;
}

.s-navigation .not-selected {
  color: #c4c8cc;

  &:hover {
    background-color: #404345;
    color: #f2f2f3;
    text-decoration: none;
    outline: none;
  }
}

.s-input__search{
  margin-top: 10px;
}
.s-input-icon {
  margin-top: -2px;
}

// Side Navbar

.hamburger {
  display: none;
}

@media (max-width: 877px){
  .s-input__search {
    max-width: 250px;
  }
}

@media (max-width: 560px) {
  .s-navigation .s-navigation--item {
    display: none;

    &:first-of-type {
      display: inline;
    }
  }
  .hamburger {
    display: block;
    padding-top: 6px;
  }
}

@media (max-width: 420px) {
  .s-navigation .s-navigation--item {
    &:first-of-type {
      margin-left: -4.7rem;
    }
  }
}