.side-bar-container {
  display: inline-block;
  width: 20%;
  height: 100vh;
  border-right: 1px solid #4a4e51;
  color: #acb2b8;
  font-size: 14px;
  position: fixed;

  .side-bar-tabs {
    float: right;
    margin-top:25px;

    .home-link {
      text-decoration: none;
      color: #c4c8cc;

      p {
        padding: 5px 5px 5px 5px;
        border-right: 3px;
        font-size: 13px;
      }
      &:hover {
        color: black;
      }
    }


    .icon-link {
      text-decoration: none;
      color: #c4c8cc;

      p {
        display: flex;
        padding: 5px 30px 5px 10px;
        margin-bottom: 5px;
        border-right: 3px solid transparent;
        width: 160px;
        font-size: 13px;
      }
      .icon {
        margin-right: 5px;
      }
      &:hover {
        color: #f2f2f3;

        .icon {
          color: #f2f2f3;
        }
      }
    }

    .link {
      text-decoration: none;
      color: #c4c8cc;

      p {
        padding: 5px 45px 5px 20px;
        margin-bottom: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 13px;
      }
      &:hover {
        color: #f2f2f3;
      }
    }


    .title {
      font-size: 12px;
      margin-bottom: 5px;
    }

    .icon {
      width: 16px;
      color: grey;
    }

    .active {
      color: black;

      p {
        font-weight: bold;
        background: #3d3d3d;
        color: #f2f2f3;
        border-right: 3px solid #f48024;
      }
      .icon {
        color: black;
      }

    }
  }
}
