.page {
  width: 100%;
  background: none;
  display: flex;
  justify-content: space-between;
  margin: 64px auto 0 auto;
}

#content {
  padding: 0;
}

#mainbar {
  padding-top: 14px;
}

.post {
  width: calc(100% - 300px - 24px);
  padding: 24px 0 24px 0;
  float: left;
  margin: 0;
  display: flex;
  flex-direction: column;

  .question-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #242729;

    h1 {
      width: 80%;
      margin-bottom: 8px;
      font-size: 27px;
      font-weight: 400;
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
      flex: 1 auto !important;
      line-height: 1.3;
    }

    div {
      margin-left: 12px;
      color: #242729;

      .ask-button {
        color:#fff;
        background-color: #0095ff;
        box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4);
        position: relative;
        display: inline-block;
        padding: .8em;
        border: 1px solid transparent;
        border-radius: 3px;
        outline: none;
        font-family: inherit;
        font-size: 13px;
        font-weight: normal;
        line-height: 1.15384615;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        white-space: nowrap !important;

        &:hover {
          background-color: #0077cc;
        }
      }
    }
  }

  .question-date {
    padding-bottom: 8px;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;

    .grid-cell {
      white-space: nowrap;
      margin-bottom: 8px;
      margin-right: 16px;
      box-sizing: inherit;
      font-size: 13px;

      span {
        color: #6a737c;
        margin-right: 4px !important;
      }
    }
  }

  .question-main {
    float: none;
    clear: both;
    width: auto;
    margin-bottom: 20px;
    border-top: 1px solid #4a4e51;

    .question {
      .post-layout {
        display: grid;
        grid-template-columns: max-content 1fr;
        color: #242729;

        .vote-cell {
          width: auto;
          padding-right: 16px;
          vertical-align: top;
          grid-column: 1;
          grid-column-start: 1;
          grid-column-end: auto;
          color:#6a737c;

          .vote  {
            padding: 0;
            margin-bottom: 8px;
            text-align: center;

            .vote-count {
              font-size: 20px;
            }

            .count-text {
              font-size: 12px;
            }
          }
        }

        .post-cell {
          vertical-align: top;
          padding-right: 16px;
          grid-column: 2;
          width: auto;
          min-width: 0;

          .post-text {
            width: 100%;
            margin-bottom: 5px;
            font-size: 15px;
            line-height: 1.3;
            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
            color: #242729;
          }

          .post-tags {
            margin-bottom: 10px;
            clear: both;

            .tag-cell {
              display: block;
            }
          }

          .post-actions {
            margin-bottom: 0;

            .post-actions-extended {
              padding-top: 4px;
              margin-top: 16px;
              display: flex;
              align-items: flex-start;
              flex-wrap: wrap;

              .post-btns {
                flex: 1 1 100px;
                margin-top: 4px;
                margin-bottom: 4px;
                margin-right: 16px !important;

                .post-menu {
                  padding-top: 2px;

                  .post-links {
                    padding-top: 0px;
                    padding-right: 4px;
                    padding-bottom: 2px;
                    padding-left: 4px;
                    color: #848d95;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 13px;

                    &:hover {
                      color: #cfd2d6;
                    }
                  }
                }
              }
            }
          }
        }

        .comments-cell {
          padding-right: 16px;
          grid-column: 2;
          width: auto;
          min-width: 0;

          .comments {
            width: 100%;
            -webkit-tap-highlight-color: rgba(255,255,255,0);
            padding-bottom: 10px;
            margin-top: 12px !important;
            border-top: 1px solid #4a4e51;
            display: block;

            .comments-list {
              list-style-type: none;
              margin: 0;
              padding: 0;
              display: block;

              .comments-item {
                display: contents;
                font-size: 13px;
                color: rgb(36, 39, 41);

                .comment-text {
                  min-width: 0;
                  flex-basis: 0;
                  padding: 6px;
                  border-bottom: 1px solid #4a4e51;
                  flex-grow: 1;
                  font-size: 13px;
                  line-height: 1.3;
                  vertical-align: text-top;

                  .comment-body {
                    line-height: 1.7;
                    word-wrap: break-word;

                    .body {
                      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
                    }

                    .date {
                      color: #9199a1;
                      margin-left: 5px;
                    }
                  }

                  .comment-links {
                    padding: 0 4px 2px;
                    color: #848d95;
                    text-decoration: none;
                    background-color: transparent;

                    &:hover {
                      color: #3c4146;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.fc-blue-600:hover {
  color: #378ad3 !important;
}

@media(max-width: 1100px) {
  .post {
    width: 80%;
  }
}