.page {
  max-width: 1264px;
  width: 100%;
  background: none;
  display: flex;
  justify-content: space-between;
  margin: 14px auto 0 auto;
}

#content {
  padding: 0;
}

#mainbar {
  padding-top: 14px;
}

.post {
  width: calc(100% - 300px - 24px);
  padding: 24px 0 24px 0;
  float: left;
  margin: 0;
  display: flex;
  flex-direction: column;

  .question-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #242729;

    h1 {
      margin-bottom: 8px;
      font-size: 27px;
      font-weight: 400;
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
      flex: 1 auto !important;
      line-height: 1.3;
    }

    div {
      margin-left: 12px;
      color: #242729;

      .ask-button {
        color:#fff;
        background-color: #0095ff;
        box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4);
        position: relative;
        display: inline-block;
        padding: .8em;
        border: 1px solid transparent;
        border-radius: 3px;
        outline: none;
        font-family: inherit;
        font-size: 13px;
        font-weight: normal;
        line-height: 1.15384615;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        white-space: nowrap !important;

        &:hover {
          background-color: #0077cc;
        }
      }
    }
  }

  .question-date {
    padding-bottom: 8px;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;

    .grid-cell {
      white-space: nowrap;
      margin-bottom: 8px;
      margin-right: 16px;
      box-sizing: inherit;
      font-size: 13px;

      span {
        color: #6a737c;
        margin-right: 4px !important;
      }
    }
  }

  .question-main {
    float: none;
    clear: both;
    width: auto;
    margin-bottom: 20px;
    border-top: 1px solid #4a4e51;

    .question {
      .post-layout {
        display: grid;
        grid-template-columns: max-content 1fr;
        color: #242729;

        .vote-cell {
          width: auto;
          padding-right: 16px;
          vertical-align: top;
          grid-column: 1;
          grid-column-start: 1;
          grid-column-end: auto;
          color:#6a737c;

          .vote  {
            padding: 0;
            margin-bottom: 8px;
            text-align: center;

            .vote-count {
              font-size: 20px;
            }

            .count-text {
              font-size: 12px;
            }
          }
        }

        .post-cell {
          vertical-align: top;
          padding-right: 16px;
          grid-column: 2;
          width: auto;
          min-width: 0;

          .post-text {
            width: 100%;
            margin-bottom: 5px;
            font-size: 15px;
            line-height: 1.3;
            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
            color: #242729;
          }

          .post-tags {
            margin-bottom: 10px;
            clear: both;

            .tag-cell {
              display: block;
            }
          }

          .post-actions {
            margin-bottom: 0;

            .post-actions-extended {
              padding-top: 4px;
              margin-top: 16px;
              display: flex;
              align-items: flex-start;
              flex-wrap: wrap;

              .post-btns {
                flex: 1 1 100px;
                margin-top: 4px;
                margin-bottom: 4px;
                margin-right: 16px !important;

                .post-menu {
                  padding-top: 2px;

                  .post-links {
                    padding-top: 0px;
                    padding-right: 4px;
                    padding-bottom: 2px;
                    padding-left: 4px;
                    color: #848d95;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 13px;

                    &:hover {
                      color: #cfd2d6;
                    }
                  }

                }
              }



              .post-owner {
                margin-top: 4px;
                margin-bottom: 4px;
                border-radius: 3px;
                background-color: #3e4a52;
                text-align: left;
                vertical-align: top;
                width: 200px;

                .user-block {
                  box-sizing: border-box;
                  padding: 5px 6px 0 7px;
                  color: #6a737c;

                  .action-time {
                    margin-top: 1px;
                    margin-bottom: 4px;
                    font-size: 12px;
                    white-space: nowrap;
                  }

                  .user-logo {
                    float: left;
                    width: 32px;
                    height: 32px;
                    border-radius: 1px;
                    margin-bottom: 6px;

                    .user-link {
                      color: #0077cc;
                      text-decoration: none;
                      cursor: pointer;

                      .logo-wrapper {
                        width: 32px;
                        height: 32px;
                        padding: 0;
                        overflow: hidden;

                        img {
                          width: 32px;
                          height: 32px;
                          border-radius: 3px !important;
                        }
                      }
                    }
                  }

                  .user-profile {
                    margin-left: 8px;
                    width: calc(100% - 40px);
                    float: left;
                    line-height: 17px;
                    word-wrap: break-word;

                    .user-profile-link {
                      color: #0077cc;
                      text-decoration: none;
                      cursor: pointer;
                      font-size: 14px;

                      &:hover {
                        color:#0095ff;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .comments-cell {
          padding-right: 16px;
          grid-column: 2;
          width: auto;
          min-width: 0;

          .comments {
            width: 100%;
            -webkit-tap-highlight-color: rgba(255,255,255,0);
            padding-bottom: 10px;
            margin-top: 12px !important;
            border-top: 1px solid #4a4e51;
            display: block;

            .comments-list {
              list-style-type: none;
              margin: 0;
              padding: 0;
              display: block;

              .comments-item {
                display: contents;
                font-size: 13px;
                color: rgb(36, 39, 41);

                .comment-text {
                  min-width: 0;
                  flex-basis: 0;
                  padding: 6px;
                  border-bottom: 1px solid #4a4e51;
                  flex-grow: 1;
                  font-size: 13px;
                  line-height: 1.3;
                  vertical-align: text-top;

                  .comment-body {
                    line-height: 1.7;
                    word-wrap: break-word;

                    .body {
                      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
                    }

                    .date {
                      color: #9199a1;
                      margin-left: 5px;
                    }
                  }

                  .comment-links {
                    padding: 0 4px 2px;
                    color: #848d95;
                    text-decoration: none;
                    background-color: transparent;

                    &:hover {
                      color: #3c4146;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .answer {
      width: auto;
      float: none;
      padding-top: 10px;
      clear: both;
      color: #242729;

      .answer-header {
        width: 100%;
        margin-top: 10px;
        color: #242729;

        .answer-sub-header {
          margin-bottom: 8px !important;
          display: flex;
          align-items: center;

          .answer-headline {
            flex: 1 auto !important;

            h2 {
              font-weight: 400;
              margin-bottom: 0;
              font-size: 18px;
            }
          }
        }
      }

      .answers {
        border-bottom: 1px solid #4a4e51;
        width: 100%;
        padding-bottom: 16px;
        padding-top: 16px;
        color: #242729;

        .answer-layout {
          display: grid;
          grid-template-columns: max-content 1fr;

          .vote-cell {
            width: auto;
            padding-right: 16px;
            vertical-align: top;
            grid-column: 1;
            font-size: 13px;

            .vote-container {
              margin: -2px;
              display: flex;
              align-items: stretch;
              flex-direction: column;
              color: #bbc0c4 !important;

              button {
                padding: 0;
                border: none;
                outline: none;
                font: unset;
                border-radius: 0;
                background: none;
                box-shadow: none;
                text-align: center;
                text-decoration: none;
              }
              .vote-count {
                font-size: 21px;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#6a737c;
              }

            }
          }

          .answer-item {
            padding-right: 16px;
            grid-column: 2;
            width: auto;
            min-width: 0;
            font-size: 13px;

            .answer-content {
              width: 100%;
              font-size: 15px;
              margin-bottom: 5px;
              font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;

              p {
                clear: both;
                margin-bottom: 15px;
                margin-top: 0;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
              }
            }

            .answer-actions {
              margin-bottom: 0 !important;
              margin-top: -4px;
              display: flex;
              align-items: flex-start;
              justify-content: flex-end !important;
              flex-wrap: wrap !important;

              .action-btns {
                flex: 1 1 100px;
                margin: 4px 16px 4px 0;
                color: #242729;

                .answer-menu {
                  padding-top: 2px;

                  .s-link .s-link__danger {
                    padding: 0 4px 2px;
                  }

                  .answer-links {
                    padding: 0 4px 2px;
                    color: #848d95;
                    text-decoration: none;

                    &:hover {
                      color: #cfd2d6;
                      text-decoration: none;
                    }
                  }
                }
              }

              .answer-owner {
                margin-top: 4px;
                margin-bottom: 4px;
                text-align: left;
                vertical-align: top;
                width: 200px;
                flex: 0 auto !important;

                .answer-user {
                  box-sizing: border-box;
                  padding: 5px 6px 7px 7px;
                  color: #6a737c;
                  font-size: 13px;

                  .answer-user-time {
                    margin-top: 1px;
                    margin-bottom: 4px;
                    font-size: 12px;
                    white-space: nowrap;
                  }

                  .answer-logo {
                    float: left;
                    width: 32px;
                    height: 32px;
                    border-radius: 1px;

                    img {
                      width: 32px;
                      height: 32px;
                    }
                  }

                  .answer-details {
                    margin-left: 8px;
                    width: calc(100% - 40px);
                    float: left;

                    .answer-user-profile-link {
                      color: #0077cc;
                      text-decoration: none;
                      cursor: pointer;
                      font-size: 13px;

                      &:hover {
                        color: #0095ff;
                        text-decoration: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .add-answer {

        .answer-grid {
          margin-bottom: 16px;
          display: flex;
          flex: 1 auto !important;
          flex-direction: column;
          color: #242729;

          label {
            margin-bottom: 16px;
            margin-top: 16px;
            display: block;
            padding: 0 2px;
            color: #0c0d0e;
            font-family: inherit;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
          }

          button {
            margin: 12px 0 8px 0;
            width: 150px;
            font-size: 14px;
          }
        }
      }
    }

  }
}

.fc-blue-600:hover {
  color: #378ad3 !important;
}

@media(max-width: 1100px) {
  .post {
    width: 80%;
  }
}